.slick-dots li button:before {
  font-size: 24px;
  color: #0f405a !important;
}

@media (max-width: 1024px) {
  .slick-dots li button:before {
    font-size: 18px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 16px;
  }
}
