/* .slick-dots li {
  width: 11px !important;
  height: 11px !important;
}
.slick-dots li button:before {
  font-size: 11px;
  color: #ffff !important;
  width: 11px !important;
  height: 11px !important;
}

.slick-dots li button {
  padding: 0 !important;
  width: 11px !important;
  height: 11px !important;
} */
